body {
  height: 98vh;
  width: 98vw;
  /*https://bggenerator.com/graphics_background.php#graphics*/
  background-image: url("./images/test_background.png");
}
#theGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 15% 70% 5% 10%;
  overflow: auto;
  word-wrap: break-word;
}
#header {
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  background-color: #F9F3E6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  border-width: 1px;
  border-style: solid solid none solid;
}
#testmenu{
  width:100%;
  grid-column:1/3;
  grid-row: 2/2;
}
#menuclick{
  visibility: hidden;
  grid-column: 2/2;
  position: static;
  display: none;
}
#pageContent {
  grid-column: 2 / 4;
  grid-row: 2 / 2;
  place-items: center center;
  text-align: center;
  background-color: #faf8f3;
  border: 1px solid;
  border-style: solid solid none solid;
  overflow: auto;
}
#pageContent [href]{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 100%;
  color: black;
}
#pageContent [href]:hover{
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: underline;
  text-shadow: 1px 1px #000;
  color: #FA532E
}
.input{
  margin:2%;
}
button, input[type=submit]{
  width: 15%;
  height: 5vh;
  background-color: #F9F3E6;
  border-radius: 5px;
}
button:hover, input[type=submit]:hover{
  color: #FA532E;
  border-color: #FA532E;
  text-decoration: underline;
}
#errorDiv {
  grid-column: 2 / 4;
  grid-row: 3 / 3;
  place-items: center center;
  text-align: center;
  background-color: #faf8f3;
  border-style: none solid solid solid;
  border-width: 1px;
}
#footer {
  background-color: #F9F3E6;
  grid-column: 2 / 4;
  grid-row: 4 / 4;
  place-items: center center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px;
  border-style: none solid solid solid;
  padding: 2%;
}
#footer p {
  display: inline;
}
#footer ul {
  list-style-type: none;
  display: inline-flex;
}
#footer ul li {
  padding:1%;
}
@media only screen and (max-width: 1200px) {
  #theGrid {
    grid-template-columns: 10% 40% 40% 10%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: #064B73;
  }
  #header {
    grid-column: 1 / 5;
  }
  #testmenu{
    visibility: hidden;
  }
  #menuclick{
    visibility: visible;
    display: inline;
  }
  #menuclick:checked + #testmenu{
    visibility: visible;
    height:100%;
    position: absolute;
    right:0;
    background-color: rgba(18, 36, 46, 0.9);
  }
  #errorDiv {
    grid-column: 1 / 5;
  }
  #pageContent {
    grid-column: 1 / 5;
    font-size: 200%;
    text-decoration: solid;
  }
  #footer {
    grid-column: 1 / 5;
  }
  input, select {
    font-size: inherit;
    width: 80vw;
  }
  button, input[type=submit]{
    width: 80vw;
    height: 10vh;
    font-size: 200%;
    margin: 2%;
  }
}
